<!DOCTYPE html>
<html>
   <head>
  
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

 

         <META NAME="Generator" CONTENT="EditPlus">
        <META NAME="Author" CONTENT="">
        <META NAME="Keywords" CONTENT="">
        <META NAME="Description" CONTENT="">
          <SCRIPT>
          function isHidden(oDiv){
            var vDiv = document.getElementById(oDiv);
            vDiv.style.display = (vDiv.style.display == 'none')?'block':'none';
          }
        </SCRIPT>
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
      <script src="https://code.jquery.com/jquery.js"></script>
      
	<div class="container">
   <div class="row">  
	 <h1>New eod</h1>
    
	<% if @user.role == "QA" %>
        <%= render 'qa' %>
   <% end %>

   <% if @user.role == "Loc" %>
        <%= render 'loc' %> 
   <% end %>

	<%= link_to 'Back', users_path %>



   </body>
</html>

